@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fondo y superposición */
.login-background {
  transition: background-image 1s ease-in-out;
}

.login-overlay {
  @apply absolute inset-0 bg-black bg-opacity-40;
}

.login-container {
  @apply relative z-10 flex items-center justify-center min-h-screen px-4;
}

/* Botón */
.login-button {
  @apply w-full bg-okip-505 hover:bg-okip-605 text-white font-semibold py-2 px-4 rounded-lg flex items-center justify-center gap-2 transition duration-200 disabled:opacity-50 disabled:cursor-not-allowed;
}

.login-button-icon {
  @apply w-5 h-5;
}

.login-loading {
  @apply flex items-center gap-2;
}

.login-spinner {
  @apply h-5 w-5 text-blue-500;
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.label-white {
  @apply text-white font-medium;
  color: white !important;
}

.card-login {
  @apply relative z-10 bg-gray-200/30 backdrop-blur-lg p-8 rounded-3xl shadow-xl w-[380px];
  
  /* Neumorphism profundo */
  border-radius: 30px; /* opcional si quieres más redondeo que Tailwind */
  box-shadow: 
    8px 8px 16px #c1c3c5,     /* sombra externa oscura */
    -8px -8px 16px #c1c3c5,   /* sombra externa clara */
    inset 4px 4px 8px #d1d9e6, /* sombra interna oscura */
    inset -4px -4px 8px #ffffff; /* sombra interna clara */
}